/* Locally served, SIL Open Font License. No external font requests or tracking. */
@font-face{font-family:'Cormorant Garamond';src:url('/static/fonts/CormorantGaramond.ttf') format('truetype');font-weight:300 700;font-style:normal;font-display:swap}
@font-face{font-family:Allura;src:url('/static/fonts/Allura-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
